<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EffixReportSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    
  </configSections>

  
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="logs\log.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings><add name="Connection" connectionString="server=tcp:m6ufktgcjh.database.windows.net,1433;database=Effix;user id=EF_Admin@m6ufktgcjh;password=Effix1984" providerName="System.Data.SqlClient" /></connectionStrings>
  <applicationSettings>
    <EffixReportSystem.Properties.Settings>
      <setting name="TempDirectory" serializeAs="String">
        <value>c:\storage\temp</value>
      </setting>
      <setting name="PhotoshopExecutable" serializeAs="String">
        <value>c:\Pragram Files\Photoshop\Photoshop.exe</value>
      </setting>
      <setting name="BaseDirectory" serializeAs="String">
        <value>c:\storage</value>
      </setting>
    </EffixReportSystem.Properties.Settings>
  </applicationSettings>
</configuration>
